#cart-table .cart-table-header {
  display: flex;
  background-color: #e1e1e1;
  box-sizing: border-box;
  font-size: 12px;
  margin: 10px 10% 0 10%;
  padding: 10px;
}
#cart-table .cart-table-body {
  font-size: 10px;
  margin: 0px 10%;
}
@media only screen and (max-width: 700px) {
  #cart-table .cart-table-header {
    display: none;
  }
}
@media only screen and (max-width: 850px) {
  #cart-table .cart-table-body,
  #cart-table .cart-table-header {
    margin: 0;
  }
}
