.cart-table-row {
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
}
.cart-table-row .product-color,
.cart-table-row .product-size {
  color: grey;
  font-size: 14px;
}
.cart-table-row h2 {
  margin: 2px 5px;
}
.cart-table-row .remove-item {
  background-color: white;
  border: none;
  clear: both;
  color: #adabab;
  cursor: pointer;
  display: block;
  padding-top: 5px;
  margin: auto;
}
.cart-table-row img {
  width: 90px;
  display: block;
  margin: auto;
}
.cart-table-row [class*="col-"] {
  float: left;
  border-left: 1px solid #e1e1e1;
  box-sizing: border-box;
  padding: 5px 10px;
}
@media only screen and (max-width: 700px) {
  .cart-table-row {
    flex-wrap: wrap;
    text-align: center;
    border-right: none;
  }
  .cart-table-row h2{
    text-align: center;
  }
  .cart-table-row [class*="col-"] {
    width: 100%;
  }
  .cart-table-row img {
    width: 60%;
    height: auto;
  }
}

