.confirm-signup {
  background-color: grey;
  border: none;
  color: white;
  font-size: 18px;
  outline: none;
  text-align: center;
  width: 50%;
}
.email-signup {
  border: none;
  font-size: 18px;
  outline: none;
  padding: 5px;
  width: 50%;
}
.email-signup::placeholder {
  color: black;
  text-align: center;
}
.news-letter-signup {
  box-sizing: border-box;
  font-family: "Montserrat", Arial;
  font-size: 16px;
  margin: 20px 0;
  padding: 0 20px;
  vertical-align: top;
  width: 60%;
}
.news-letter-signup p {
  color: white;
  text-align: center;
  vertical-align: top;
  margin: 0px 0px 10px 0px;
}
@media only screen and (max-width: 850px) {
  .confirm-signup,
  .email-signup {
    width: 50%;
  }
  .news-letter-signup {
    width: 100%;
  }
}