#promotional-banner {
  background-color: black;
  font-size: 0;
  margin-bottom: 30px;
  position: relative;
}
#promotional-banner .promotional-banner-overlay {
  color: white;
  font-size: 1.5vw;
  position: absolute;
  top: 15%;
  width: 100%;
  text-align: center;
  line-height: 0.9;
}
#promotional-banner .promotional-banner-overlay a {
  color: white;
  font-size: 0.8em;
  line-height: 2;
}
#promotional-banner .promotional-banner-overlay div {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em;
}
#promotional-banner .promotional-banner-overlay h3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
#promotional-banner img {
  opacity: 0.4;
  position: relative;
  width: 100%;
}

