#account-navigation {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-size: 14px;
  margin-left: auto;
}
#account-navigation img {
  width: 50px;
}
#header-cart-icon {
  margin: 0 25px 0 5px;
  position: relative;
}
#header-cart-icon .cart-items-counter {
  background-color: rgb(40, 39, 46);
  border-radius: 50%;
  color: white;
  font-size: 18px;
  left: 35px;
  position: absolute;
  padding: 4px 10px;
  top: -10px;
}

