#mens-dropdown-nav:hover #mens-categories,
#womens-dropdown-nav:hover #womens-categories,
#shoes-dropdown-nav:hover #shoes-categories {
  display: flex;
}
#main-navigation {
  align-items: center;
  background-color: black;
  box-sizing: border-box;
  display: flex;
  margin: 0 0 10px 0;
  padding: 0px 0px 0px 15vw;
  width: 100%;
}
#search-filter {
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  height: 30px;
  margin: 0;
  outline: none;
  padding: 0 0 0 10px;
  position: relative;
  width: 200px;
}
#search-filter::placeholder {
  color: grey;
}

.dropdown-column a {
  display: block;
  position: relative;
}
.dropdown-column > a {
  background-color: black;
  display: block;
  position: relative;
}
.dropdown-column a:hover img {
  filter: brightness(70%);
}
.dropdown-column h2 {
  color: black;
  display: inline-block;
  font-family: "Montserrat", Arial;
  font-size: 12px;
  font-weight: normal;
  margin: 10px 0 0 0;
  padding: 0px 8px;
  width: 100%;
}
.dropdown-column p {
  color: white;
  font-family: "Montserrat", Arial;
  font-size: 14px;
  padding: 3px 0;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
}
.dropdown-column img {
  height: 200px;
  position: relative;
  opacity: 0.7;
  width: 200px;
}
.icon-search {
  color: black;
  cursor: pointer;
  font-size: 18px;
  right: 10px;
  position: absolute;
  top: 6px;
}
.icon-search:hover {
  color: grey;
}
.navigation-link {
  border-bottom: 2px solid black;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-size: 14px;
  font-family: "Montserrat", Arial;
  margin: 0px;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
}
.navigation-link:hover {
  border-bottom: 2px solid grey;
  color: grey;
}
.navigation-dropdown {
  background-color: white;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
  display: none;
  padding-left: 10%;
  position: absolute;
  left: 0;
  top: 126px;
  width: 100%;
  z-index: 2;
}
.navigation-dropdown:hover + a {
  border-bottom: 2px solid grey;
  color: grey;
}
.search-container {
  margin-left: auto;
  margin-right: 10px;
  position: relative;
}
.shop-categories {
  list-style: none;
  padding: 10px 0px 0px 0px;
}
.shop-categories li a {
  color: #999;
  display: block;
  font-family: "Roboto", Helvetica, "Montserrat", Arial;
  font-size: 12px;
  margin: 0px;
  padding: 3px 50px 3px 10px;
  text-align: left;
  text-decoration: none;
}
.shop-categories li a:hover {
  color: black;
}
@media only screen and (max-width: 650px) {
  #main-navigation {
    text-align: center;
  }
  .navigation-dropdown {
    top: 165px;
  }
  .search-container {
    display: none;
  }
}
@media only screen and (max-width: 750px) {
  .img-column {
    display: none;
  }
  .navigation-dropdown {
    padding-bottom: 20px;
  }

}





