.alt-images-container {
  width: 100%;
  margin: auto;
  text-align: center;
}
.alt-picture {
  box-sizing: border-box;
  max-width: 50px;
  padding: 5px;
}
[class*="col-lg"] {
  box-sizing: border-box;
  float: left;
}
.heading {
  color: black;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.main-picture {
  box-sizing: border-box;
  padding: 5px;
  max-width: 450px;
}
.product-description {
  color: black;
  font-family: "Montserrat", Arial;
  font-size: 13px;
  text-align: left;
}
.product-features {
  color: black;
  font-family: "Montserrat", Arial;
  font-size: 12px;
  margin-left: 30%;
  text-align: left;
}
.product-images-container {
  box-sizing: border-box;
  font-size: 0;
  padding-left: 2%;
  width: 50%;
  float: left;
}
.product-info-container {
  box-sizing: border-box;
  display: inline-block;
  color: black;
  font-family: "Montserrat", Arial;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 50px;
  vertical-align: top;
}
.product-title {
  color: black;
  font-family: "Montserrat", Arial;
  font-size: 26px;
}
.uppercase {
  text-transform: uppercase;
}
@media only screen and (max-width: 550px){
  .main-picture{
    max-width: none;
    width: 100%;
  }
}
@media only screen and (max-width: 1000px){
  .product-images-container,
  .product-info-container {
    width: 100%;
  }
}
