.new-releases-column a {
  background-color: black;
  display: block;
  position: relative;
}
.new-releases-column a:hover img {
  opacity: 0.3;
}
.new-releases-column img {
  height: 200px;
  opacity: 0.5;
  position: relative;
  width: 200px;
}
.new-releases-column p {
  color: white;
  font-family: "Montserrat", Arial;
  font-size: 14px;
  padding: 3px 0;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
}
